<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="/app/static/padrao.css" />
    <script
      src="https://kit.fontawesome.com/ce47be0488.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header></header>

    <main>
      <nav>
        <a href="home.html"><div class="abas-menu">
            <i class="fa-solid fa-house-user"></i>
            Home
        </div></a>
        <a href="forms_saida_erp.html"><div class="abas-menu">
            <i class="fa-solid fa-file-invoice-dollar"></i>
            Cadastrar Despesas
        </div></a>
        <a href="consulta_saidas.html"><div class="abas-menu">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Visualizar Despesas
        </div></a>
        <a href="forms_entrada_erp.html"><div class="abas-menu">
            <i class="fa-solid fa-money-bills"></i>
            Cadastrar Vendas
        </div></a>
        <a href="consulta_entradas.html"><div class="abas-menu">
            <i class="fa-solid fa-sack-dollar"></i>
            Visualizar Vendas
        </div></a>
      </nav>

      <div class="homepage" style="justify-content: center; align-items: center;">
        <div class="base">
          <div class="corpo">
            <div class="forms">
              <h1>Cadastre uma nova saida</h1>

              <form method="POST">
                {% csrf_token %}
                <div class="conteudoForms1">
                  <div class="data">
                    <h3>Data de criação</h3>
                    <input
                      type="date"
                      name="data_criacao"
                      id="data_criacao"
                      placeholder="Data de criação"
                    />
                    <h3>Data de pagamento</h3>
                    <input
                      type="date"
                      name="data_pagamento"
                      id="data_pagamento"
                    />
                  </div>
                  <div class="valor">
                    <h3>Valor da saida</h3>
                    <input type="text" name="valor" placeholder="ex: 150.51" />
                  </div>
                </div>
                <div class="conteudoForms2">
                  <div class="setor">
                    <h3>Setor da saida</h3>
                    <select name="setor">
                      <option value="0">Vendas</option>
                      <option value="1">Impostos</option>
                      <option value="2">Renda passiva</option>
                      <option value="0">Outros</option>
                    </select>
                  </div>
                  <h3>Descrição da saida</h3>
                  <div class="descricao">
                    <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
                  </div>
                </div>
                <div class="btnDiv">
                  <button type="button" class="btn btn-primary btn-lg btnSimulacao">Adicionar saida</button>
                  {{ msg }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
